#titulo {
background-color: darkgreen;
text-align: center;
}
#primera {
    background-color: darkblue;
}
#inferiores {
background-color: darkgreen;
}
p {
    text-align: center;
    color: darkgreen;
}
tr, td, th {
    border: 2px black solid;
    
}