#titulo {
background-color: darkgreen;
text-align: center;
}
#primera {
    background-color: darkblue;

}
#inferiores {
background-color: darkgreen;
}
p {
    text-align: center;
    color: darkgreen;
}
table, tr, td, th {
    border: 2px black solid;
    padding: 3px;
    text-align: center;
    align-items: center;
}
#tabla {
    text-decoration: underline;
    color: blue;
    text-align: center;
}
 
